.cups-heading {
  font-size: 100px;
  font-weight: bold;
  color: #fff;
  font-family: 'Lato', sans-serif;
  letter-spacing: 65px;
  padding-top: 80px;
}

.cups-description {
  font-size: 24px;
  color: #ccc;
  margin-top: 5px;
}

@media (max-width: 600px) {
  .cups-heading {
    font-size: 40px;
    letter-spacing: 5px;
    padding-top: 20px;
  }

  .cups-description {
    font-size: 14px;
  }
}
